{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Accueil{% endblock %}
{% block footer %}<div class="contact mt-3 ml-5"><a href="mailto:viry.blandine@gmail.com"class="mail"><i class="fa fa-envelope"> Contacter le Merle</i></a></div>{% endblock %}

{% block body %}
<div class="row align-items-center border border-primary rounded mt-5 mx-3">
    <div class=" col-12 col-md-8 py-3">
        <img src="{{asset('images/slide/Merle.png')}}" class="img-fluid border border-primary rounded"  alt="bandeau merle">
    </div>
    <div class="col-12 col-md-4 text-center">
        <h1 class="text-warning mb-5">Bienvenue !</h1>
        <p class="intro mt-5">Merle est un site pour les curieux ! <br>Vous souhaitez en savoir davantage sur les oiseaux ? <br>
            Merle répertorie les oiseaux et vous permet de les découvrir en fonction de leur localisation, de leur mode de vie et de leur alimentation</p>
    </div>
</div>
    


{% endblock %}
