{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block monTitre %}Accueil{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 text-center">
        <img src="{{asset('images/slide/merle400.png')}}" class="perso_imgHome">
    </div>
</div>
    <div class="row">
        <div class="col-12 text-center">
            <p>Merle est un site pour les curieux! Vous souhaitez en savoir davantage sur les oiseaux? <br>
            Merle répertorie les oiseaux et vous permet de les découvrir en fonction de leur localisation, de leur mode de vie et de leur alimentation</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{{path('admin_oiseau')}}" class="btn btn-warning mr-2">Les administrateurs</a>
            <a href="{{path('oiseaux')}}" class="btn btn-warning">Les curieux</a>
        </div>
</div>
{% endblock %}
