{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block monTitre %}A propos de Merle{% endblock %}

{% block body %}
 <div class="col-12">
            <div class="card border-primary mb-3 mx-auto" style ="max-width:60rem">
            <div class="card-header text-center bg-primary text-white">
                <h5 class='card-title text-center pb-2 mx3 border-bottom border-white'></h5>
                
            </div>
            <div class="card-body">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta dolorum animi magnam deleniti? Aperiam nisi magni odit molestiae incidunt soluta aliquam exercitationem fuga repellendus ut dolorum, dolor fugit obcaecati itaque.
                Eligendi beatae doloremque modi consequatur repudiandae reprehenderit quasi consequuntur alias voluptatum molestiae, non, aliquam praesentium delectus sint ab iure error nobis in? Amet deleniti facere molestias aspernatur, maxime ab quibusdam.
                Soluta eum sapiente reiciendis alias saepe vitae rem cum suscipit totam, molestias ut at dignissimos itaque labore earum! Vitae harum assumenda incidunt! Architecto asperiores vero deleniti beatae velit. Earum, cupiditate?
                Quidem, officia optio. Molestias amet harum laudantium obcaecati neque voluptate facere, error cupiditate quasi, in eaque quis dignissimos minus veritatis, nobis enim modi asperiores. Modi dolorum placeat natus fugiat minus.
                Assumenda, incidunt vitae ipsum suscipit recusandae quam animi cupiditate id veritatis! Cum dolore explicabo consectetur, enim maxime iusto doloribus cumque itaque rem, eaque labore suscipit repudiandae consequuntur ex omnis et.
                Laudantium dicta facere cumque commodi dignissimos iste voluptatibus at consequuntur vel? Recusandae minus dolore quidem quod veniam consequuntur nisi dolores earum voluptates ducimus saepe, atque officiis magnam? Sequi, similique quia?
                </p>
                   
            </div>
        </div>
        </div>
    
</div>

{% endblock %}
