{% extends 'base.html.twig' %}

{% block title %}Résultat{% endblock %}

{% block monTitre %}Résultats
    {% if isLieu %}
        par localisation
    {% elseif isVie %}
        par mode de vie
    {% elseif isAlimentation %}
        par type d'alimentation
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
    {% for oiseau in oiseaux %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-primary mb-3 mx-auto" style ="max-width:20rem">
            <div class="card-header text-center">
                <h5 class='card-title text-center pb-2 mx3 border-bottom border-warning'><a href="{{path('afficher_oiseau', {'id' : oiseau.id})}}" class="btn btn-warning">{{oiseau.nom}}</a></h5>
            </div>
            <div class="card-body text-center">
                <img src="{{asset('images/oiseaux/' ~ oiseau.image)}}" class="perso_imgOiseau card-img-top">
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}
