body {
    margin: 0;
    padding: 0;
}

.perso_imgOiseau {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.perso_imgOiseauArt {
    height: 450px;
    width: 450px;
    object-fit: cover;
}



.perso_imgOiseauAdmin {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

h1 {
    font-family: 'Nunito', cursive;
}

.navbar-brand{
    font-family: 'Nunito', cursive;
}
strong {
    font-size: 25px;
}
.intro, .textApropos, .mail {
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
    
}
h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}
html {
    height: 100%;
}

footer{
    margin-top: 125px;
    background-color: #3E3F3A;
}

.aPropos{
    margin-top: 150px;
}

 .fa {
    color: white;
}

