.perso_imgOiseau {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.perso_imgOiseauArt {
    height: 450px;
    width: 450px;
    object-fit: cover;
}

.perso_imgHome {
    height: 250px;
    width: 450px;
    object-fit: cover;
}

.perso_imgOiseauAdmin {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.bandeau {
    height: 325px;
    background-image: url(../images/slide/bandeau2.jpg);
    background-size: cover;
    background-position: 0 center;
}


h1 {
    font-family: 'Courgette', cursive;
}