{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block monTitre %}Page non trouvée{% endblock %}
{% block footer %}<div class="contact mt-3 ml-5"><a href="mailto:viry.blandine@gmail.com"class="mail"><i class="fa fa-envelope"> Contacter le Merle</i></a></div>{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 mx-3">
        <p>La page demandée n'existe pas !</p>
    </div>
</div>

    

{% endblock %}
